<%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>
<header>
  <div class="logo"></div>
  <div class="headings">
    <h2>Secret Users With Auth</h2>
    <h3>By milad For Everyone</h3>
    <a href="/users" class="btn">View Users</a>
  </div>
</header>
